<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
    <header th:fragment="header">
        <div class="container">
            <nav sec:authorize="isAnonymous()">
                <a href="/login">Sign In</a>
                <a href="/signup">Sign Up</a>
            </nav>
            <nav sec:authorize="isAuthenticated()">
                <a href="/">Home</a>
                <a href="/allusers">All Users</a>
                <a href="/feed">Post Feed</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </header>
</body>
</html>