<!DOCTYPE html>
<html lang="en">
    <head>
        <section th:replace="fragments/head :: headBootstrap"></section>
        <title>Code\Fellowship Home</title>
    </head>
    <section th:replace="fragments/header :: header"></section>
    <body>
        <div class="container">
            <h1>The\Feed</h1>
            <ul th:each="followie : ${followies}">
                <li> <a th:href="${'/viewedusers/'+ followie.id}">[[${followie.username}]]</a></li>
                <ul>
                    <li th:each=" post : ${followie.posts}">[[${post.body}]]</li>
                </ul>
            </ul>
        </div>
    </body>
    <footer>
    </footer>
</html>